.icons a{
    text-decoration: none;
    color: #272727;
    margin-left: 1rem;
    transition: ease all 300ms;
}
.icons a:hover{
    transition: ease all 300ms;
    color: #64cde8;
}

.text-muted{
    margin-right: 1rem;
}